<component name="ArtifactManager">
  <artifact type="exploded-war" build-on-make="true" name="web">
    <output-path>$PROJECT_DIR$/out/artifacts/web</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="meeto-v2/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="meeto-v2" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="mysql-connector-java-5.1.33-bin" />
          <element id="library" level="project" name="h2-1.4.182" />
          <element id="library" level="project" name="struts2-core-2.3.16.3" />
          <element id="library" level="project" name="asm-3.3" />
          <element id="library" level="project" name="commons-logging-1.1.1" />
          <element id="library" level="project" name="struts2-jquery-plugin-4.0.0-20141123.115729-8" />
          <element id="library" level="project" name="google" />
        </element>
      </element>
    </root>
  </artifact>
</component>